/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Dark Background */
    color: #ffffff; /* White Text */
}

/* Container styles */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
}

/* Header styles */
.header {
    text-align: center;
    margin-bottom: 40px;
    padding: 20px;
    background: rgba(31, 31, 31, 0.9); /* Darker Header Background with transparency */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #f9a825; /* Highlighted Yellow */
}

.header p {
    font-size: 1.2rem;
    color: #bbbbbb; /* Light Gray */
}

/* Members grid styles */
.members-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px; /* Reduced spacing between cards */
}

@media (max-width: 768px) {
    .members-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .members-grid {
        grid-template-columns: 1fr;
    }
}

/* Member card styles */
.member-card {
    background-color: rgba(31, 31, 31, 0.9); /* Semi-transparent dark background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.member-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(255, 255, 255, 0.2);
}

.member-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid #f9a825; /* Highlighted Yellow Border */
}

.member-card h3 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #f9a825; /* Highlighted Yellow */
}

.member-card p {
    font-size: 1rem;
    color: #bbbbbb; /* Light Gray */
}

.member-card a {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    text-decoration: none;
    background-color: #f9a825; /* Highlighted Yellow */
    color: #121212; /* Dark Text */
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s;
    font-size: 0.9rem;
}

.member-card a:hover {
    transform: scale(1.1); /* Slight enlargement on hover */
    background-color: #c68400; /* Darker Yellow */
}

/* Navbar styles */
.navbar-brand img {
    width: 50px;
    height: auto;
}

.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.navbar-nav .nav-link {
    color: #fff !important;
}

.navbar-nav .nav-link:hover {
    color: #f1f1f1 !important;
}

.navbar.scrolled {
    background-color: #555;
}